:root
{
    --BG-color: rgb(27, 27, 27);
    --BG-color2: rgb(39, 39, 39);
    --BG-press-logos: lightgray;

    --santa-red: #A31123;
    --santa-red-alpha: rgba(163, 17, 34, 0.4);
    --santa-green: rgb(0, 114, 19);
    --santa-white: rgb(255, 255, 255);
    
    --text-color: rgb(255, 255, 255);
}

body
{
    /*
    */
    background-color: var(--BG-color);
}

.container-fluid
{
    padding: 0;
}

#title
{
    background-color: var(--santa-red);
    padding: 3% 15%;
    color: var(--text-color);
}

h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}

/*NAVBAR*/
.navbar
{
    padding-bottom: 4.5rem;
    padding-left: 0;
    width: auto;
}

.nav-item
{
    padding: 0.1rem;
}

.nav-link
{
    font-size: 1.3rem;
}

.navbar-brand
{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 700;
}

/*Buttons*/
.download-btn
{
    margin: 4% 3% 4% 0;
}
.download-btn2
{
    margin: 1% 1% 1% 0;
}
.btn-btn-lg {
    padding: 2%;
}
/*-end*/

.title-image
{
    margin: 2% 3% 2% 3%;
    width: 55%;
    transform: rotate(10deg);
}

/*Features Section*/
#features
{
    padding: 3% 15%;
    background-color: var(--BG-color);
}

.feature-box
{
    text-align: center;
    padding: 5%;
}

.feature-box h3
{
    font-family: 'Montserrat';
    color: var(--text-color);
}
.feature-box p {
    color: #8f8f8f;
}
.feature-box i {
    color: var(--santa-white);
    margin-bottom: 1rem;
}
.feature-box i:hover
{
    color: var(--santa-red);
}

#testimonials {
    background-color:var(--BG-color2);
    color: var(--text-color);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

#testimonials h2 {
    font-family: 'Montserrat';
    color: var(--text-color);
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2rem;
}

.carousel-indicators {
    top: 108%;
}

/*Press Section*/
.press-logos {
    background-color: var(--BG-press-logos);
    text-align: center;
    padding: 2rem;
}

.press-logo {
    width: 15rem;
    margin: 1.5;
}

/*Pricing Section*/
#pricing {
    font-family: 'Montserrat';
    color: var(--text-color);
    background-color: var(--BG-color2);
    padding: 4rem;
    text-align: center;
}

.pricing-column{
    padding: 2rem;
}

.card-header {
    background-color: var(--BG-color2);
}

.card-body {
    color: black;
}

/*Cta (Call to action) Section*/
#cta {
    font-family: 'Montserrat';
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
}

#cta h3 {
    font-size: 2rem;
}

/*Footer*/
#footer {
    font-family: 'Ubuntu';
    color: var(--text-color);
    padding-left: 1rem;
    text-align: center;
}
